{% extends 'Front/layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block main %}

    <div class="container mb-5">
        <div class="page-header">
            <h1 class="text-center display-4">ログイン</h1>
        </div>
        <hr class="mb-5">
        {% for flashType,flashMessages in app.session.flashBag.all %}
            {% for flashMessage in flashMessages %}
                <div class="alert alert-{{ flashType }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row justify-content-md-center mb-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header red white-text lighten-3">
                        お知らせ
                    </div>
                    <div class="card-body">
                        <p>
                            Haskell Quiz のシステムが新しくなりました。<br>
                            以前ご登録していた方ももう一度登録し直してください。
                        </p>
                        <p>
                            何かありましたら、ページ下記アドレスまでご連絡ください。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        {{ form_start(form, {action: path('front_login_check')}) }}
                        {{ form_rest(form) }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">ログイン</button>
                        </div>
                        {{ form_end(form) }}
                        <div class="text-right">
                            <a href="{{ path('user_reset_password_index') }}">パスワード再設定</a>
                            <a href="{{ path('user_register_index') }}">登録</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
