{% extends 'Front/user_reset_password/layout.html.twig' %}

{% block page_header %}
    <h1 class="text-center display-4">確認</h1>
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center mb-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <p>
                            {{ user.email }}
                        </p>
                        <p>
                            上記アドレスに確認メールを送信します。
                        </p>
                    </div>
                    <div>
                        {{ form_start(form) }}
                        {{ form_rest(form) }}
                        <div class="text-center">
                            <a class="btn btn-secondary" href="{{ path('user_reset_password_index') }}">戻る</a>
                            <button type="submit" class="btn btn-primary">確認</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
