{% extends 'base.html.twig' %}

{% block title %}パスワード再設定{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h1>登録</h1>
    </div>
    {% for flashType,flashMessages in app.session.flashBag.all %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ flashType }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        {{ form_start(form) }}
                        {{ form_rest(form) }}
                        <a class="btn btn-default" href="{{ path('front_index') }}">戻る</a>
                        <button type="submit" class="btn btn-primary">送信</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
