{% extends 'Admin/layout.html.twig' %}

{% block title %}Haskell Quiz 管理画面/問題一覧{% endblock %}
{% block navbar_title %}問題一覧{% endblock %}

{% block main %}
    <div class="card mb-3">
        <div class="card-header card-header-primary">
            問題一覧
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-end mb-1">
                <a class="btn btn-primary" href="{{ path('admin_quiz_create') }}">新規登録</a>
            </div>
                {% for quiz in pagination %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">ID</h4>
                            <p>{{ quiz.id }}</p>
                            <hr>

                            <h4 class="card-title">セクション</h4>
                            <p><a target="_blank" href="{{ path('admin_section_edit', {id: quiz.section.id}) }}">{{ quiz.section }}</a></p>
                            <hr>

                            <h4 class="card-title">問題</h4>
                            <p>{{ quiz.quizText }}</p>
                            <hr>

                            {% if quiz.hasFunctionInfo %}
                                <h4 class="card-title">関数情報</h4>
                                {% for functionInfo in quiz.functionInfos %}
                                    <a target="_blank" href="{{ path('admin_function_info_edit', {id: functionInfo.id}) }}">
<pre>
<code class="haskell">
{{ functionInfo.description }}
</code>
</pre>
                                    </a>
                                {% endfor %}
                            {% endif %}

                            <h4 class="card-title">答</h4>
                            <p>{{ quiz.answerText }}</p>
                            <hr>

                            <div class="d-flex justify-content-center align-items-center">
                                <a rel="tooltip" class="btn btn-success" href="{{ path('admin_quiz_edit', {id: quiz.id}) }}"><i class="material-icons">mode_edit</i></a>
                                <a rel="tooltip" class="btn btn-danger admin-quiz-delete-button" href="{{ path('admin_quiz_delete', {id: quiz.id}) }}"><i class="material-icons">delete</i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            <div class="table-responsive">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="quizDeleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="quizDeleteConfirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="quizDeleteConfirmModalLabel">確認</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    削除してよろしいですか?
                </div>
                <div class="modal-footer">
                    {{ form_start(deleteForm, {attr: {id: 'deleteForm'}}) }}
                    {{ form_rest(deleteForm) }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                    <button type="submit" class="btn btn-primary" id="deleteConfirm">削除</button>
                    {{ form_end(deleteForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.admin-quiz-delete-button').click(function (e) {
            e.preventDefault();
            $('#quizDeleteConfirmModal').modal();
            var $action = $(this).attr('href');
            $('#deleteForm').attr('action', $action);
        })
    </script>
{% endblock %}