{% extends 'Admin/layout.html.twig' %}

{% block title %}Haskell Quiz 管理画面/問題一覧{% endblock %}

{% block main %}
    <div class="card mb-3">
        <div class="card-header">
            問題一覧
        </div>
        <div class="table-responsive">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>セクション</th>
                                <th>問題文</th>
                                <th>答</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for quiz in pagination %}
                                <tr {% if loop.index is odd %}class="color"{% endif %}>
                                    <td>{{ quiz.id }}</td>
                                    <td>{{ quiz.section }}</td>
                                    <td>{{ quiz.quizText }}</td>
                                    <td>{{ quiz.answerText }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}