{% extends 'Admin/layout.html.twig' %}

{% block title %}Haskell Quiz 管理画面/問題一覧{% endblock %}
{% block navbar_title %}問題一覧{% endblock %}

{% block main %}
    <div class="card mb-3">
        <div class="card-header card-header-primary">
            問題一覧
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="text-primary">
                    <tr>
                        <th>ID</th>
                        <th>セクション</th>
                        <th>問題文</th>
                        <th>答</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quiz in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ quiz.id }}</td>
                            <td>{{ quiz.section }}</td>
                            <td>{{ quiz.quizText }}</td>
                            <td>{{ quiz.answerText }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>

{% endblock %}